@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}

h1, h3{
  text-align: center;
  color: #454545;
}

#weather{
  margin-top: 75px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}